nav{
    margin-right: 8%;
    margin-bottom: 2%;
    text-align: right;
}
a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
div >p{
    
        color: #FFFFFF;

}
h2{
    color: #B08F5C;
}
footer{
    text-align: center;
    
}