nav{
    text-align: right;
    justify-content: space-between;
    margin-right: 8%;
    margin-bottom: 2%;
    
   
    
}
a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
    
   
}