header,
        section,
        article,
        aside,
        footer,
        nav {
            border-radius: 20px;
            border: solid #2067CA 1px;
            text-align: center;
            margin: 1%;
        }
        body{
            font-size: x-large ;
        }
        header{
            background-color: #E8F2A1; margin-bottom: 20px;

        }
        header > p{
            margin-top: -25px;
        }

        div {
            display: flex;
        }
        ul{
            list-style: none;
        }